 {% extends "cliente/index.html" %} 
 {% load static %}

  {% block contenido %}

    <H2 class="text-success text-center"><strong>Consulta de Tarjeta de Control Los Olivos </strong></H2>
<div id="imgtarjeta" class="container text-center">
  <img src="{% static "cliente/img/tarjeta.png" %}" class="img-fluid tarje-principal" >
 
</div>

<div id="imgname" class="container text-center ocultar" style="background:#d4fbe7;">
  <img  src="{% static "cliente/img/nombres.png" %}" class="img-fluid tarje">
    
</div>

<div id="imgciv" class="container text-center ocultar" style="background:#d4fbe7;">
   <img src="{% static "cliente/img/civ.png" %}" class="img-fluid tarje">
  
</div>

<div id="imgplaca" class="container text-center ocultar" style="background:#d4fbe7;">
  <img src="{% static "cliente/img/placa.png" %}" class="img-fluid tarje">
</div>

<div class="container text-center fondo-index">

  <div class="row">
    <div class="col-md-4 col-lg-4 col-12 text-center">
      <div class="">
        <h6 class="bold">Consultar por Nº Placa</h6>
        <div class="">
          <p class=" descripcion card-text text-justify">Se le presentará un formulario en el que deba rellenar el campo vacio con el numero de Placa de su vehiculo. <span id="about-btn" class="ver"> ver ejemplo</span> </p>

        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4 col-12 text-center">
      <div class="">
        <h6 class="bold">Consultar por Nº CIV</h6>
        <div class="">
          <p class="card-text descripcion text-justify">Se le presentará un formulario en el que deba rellenar el campo vacio con el numero de CIV de su tarjeta de control.<span id="ver-civ" class="ver"> ver ejemplo</span> </p>
           
        </div>
      </div>
    </div>

    <div class="col-md-4 col-lg-4 col-12 text-center">
      <div class="">
        <h6 class="bold">Consultar por Nombres</h6>
        <div class="" id="ocultar">
          <p class="card-text descripcion text-justify">Se le presentará un formulario en el que deba rellenar el campo vacio con los nombres del conductor. <span id="ver-name" class="ver"> ver ejemplo</span> </p>
          
         
        </div>
      </div>
    </div>

  </div>

</div>

    <section>

      <div class="container">
      
        <br>
        <div class="row">

          <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <h5>TIPO DE BUSQUEDA:</h5>

           <ul> 
            
              <li>
                  <input type="radio" id="radio1" name="select" checked="checked" aria-label="Radio button for following text input" ><span class="tipo">Por Placa</span>
              </li>
              <li>
                <input type="radio" id="radio2" name="select" aria-label="Radio button for following text input">
                <span class="tipo">Por Nº CIV</span>
              </li>
              <li>
                <input type="radio" id="radio3" name="select" aria-label="Radio button for following text input">Por  <span class="tipo">Apellidos y Nombres</span>
              </li>
              
              
              
          
          </ul>

          </div>

          <div class="col-12 col-sm-12 col-md-6 col-lg-6">
          <form method="POST" id="form1">
            {% csrf_token %}
            <!--<input type="text" name="" class="form-control col-md-3" placeholder="tipo documento">-->
            <div class=""> 
                <div id="placa" class="">
                  <h5 class="col-sm-12">Ingrese el numero de Placa del vehiculo</h5>
                  <input type="text" name="busca_placa" class="form-control" placeholder="Ingrese Numero de doc. de identidad" >
                </div>

                <div id="civ" style="display:none;">
                  <h5 class="">Ingrese el de CIV de la tarjeta de control</h5>
                  <input type="number" name="buscalo_civ" class="form-control" placeholder="Ingrese Numero de civ">
                </div>

                <div id="name" class="row" style="display:none;">
                 <div class="">
                 Apellidos: 
                    <input type="text" name="ape" class="form-control" placeholder="ejemplo: PEREZ PEREZ">
                  </div>
                  <div class="">
                    Nombres:
                      <input type="text"  name="nombre" class="form-control" placeholder="ejemplo: PEDRO PABLO">
                    </div>                  
                </div>

                <div style="margin-top:10px;">
                   <button id="btnbuscar" type="submit" class="btn btn-primary">Buscar</button>
                </div>

            
              
            </div>
          </form>
   </div>
         
          
        </div>
      </div><hr>

    </section>

        
            {% if dni|length > 0 %}
            {% for consulta in dni  %}

    <section>
           
      <div class="container">
             Fecha de consulta: {{fecha_actual}}
      <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="tarjeta" style="background: url({{consulta.empresa.logo.url}});background-repeat:no-repeat; width: 330px; max-width: 100%;">
              <div class="civ-foto">
              {% if consulta.foto %}
                    <img src="{{consulta.foto.url}}" class="img-perfil">
                           {% else %}no 
              {% endif %}
              <p class="texto-grueso "><strong class="text-danger">CIV:{{consulta.civ}}</strong></p>
             </div>
             <div class="vertical">
                        <span><strong>{{consulta.nombre|upper}}</strong></span><br>
                        <span><strong>{{consulta.apellido|upper}}</strong></span> 
                        <p><strong>DNI: {{consulta.identificador}}</strong></p>
            </div>
                      
      
                        
                        <div class="placa"><strong class="texto-grueso">{{consulta.placa|upper}}</strong></div>
          </div>
     
         
                     


                  
          </div><!--/fin col-md-5--> 

          <div class="col-md-8 col-sm-12 col-lg-8 col-12" >
              <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Nombres:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{consulta.nombre|upper}} {{consulta.apellido|upper}}" disabled> 
                <label for="exampleInputEmail1">Empresa:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{consulta.empresa|upper}}" disabled> 
                <label for="exampleInputEmail1">Distrito:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{consulta.distrito|upper}}" disabled> 
                <label for="exampleInputEmail1">Placa:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{consulta.placa|upper}}" disabled> 
                <label for="exampleInputEmail1">Identificador:</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="{{consulta.identificador|upper}}" disabled> 
               
              </div>
          
              
            </form>
          </div>


        </div><!--fin row-->

      </div><!--/container-->
      <hr>

    </section>
{% empty %}
    <li>Sorry, no athletes in this list.</li>
  {% endfor %}


  {% endif %}

   {% endblock contenido %}
  