.tarje{
	margin-left: auto;
	margin-right: auto;

	
}
.descripcion{
	font-size: 15px;
}
.ver{
	color:blue;
	font-weight: bold;
}

.ver:hover{
	font-size: 20px;
	color:green;
}
.tipo{
	margin-right: 5px;
}
.ocultar{
	display: none;
}

.fondo-index{
margin-left: auto;
	margin-right: auto;
	    background: radial-gradient(#d1de47, transparent);
}
.tarje-principal{
	margin-left: auto;
	margin-right: auto;

}
.myButton {
  box-shadow: 0px 10px 14px -7px #276873;
  background:linear-gradient(to bottom, #44b9e3 5%, #408c99 100%);
  background-color:#44b9e3;
  border-radius:8px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  padding:13px 32px;
  text-decoration:none;
  text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
  background:linear-gradient(to bottom, #408c99 5%, #44b9e3 100%);
  background-color:#408c99;
}
.myButton:active {
  position:relative;
  top:1px;
}

.text-peru{
	font-size: 10px;
}
.peru{
	background-image:linear-gradient(90deg,red 33%, white 33%, white 66.66%, red 66.66%);
	height: 10px;
    width: 12px;
    margin: 2px;
}
.cuadrado{
	background-color: #a99d9dfa;
	height: 10px;
    width: 12px;
    margin: 2px;
}
.contenedor-placa{
	float: right;
	padding-top: 100px;
}
.titulo{
	width: 100%;
	margin-right: auto;
	margin-left: auto;

}
.centrardiv{
	display: table;
	height: 120px;
	width: 150px;
}

.civ{
	height: 25px;
	width: 80px;
	margin-left: auto;
	margin-right: auto;
	background: #fbf304;
}

.img-perfil{
	    height: 79px;
    width: 63px;
}
.img-logo{
	height: 50px;
	width: 70px;
}
.img-pnp{
	height: 50px;
	width: 40px;
}
.vertical{
	float: left;
	padding-top: 100px;
	font-size: 12px;
	display: table-cell;
  	vertical-align: bottom;
  	padding-left: 6px;
  }


.placa{
    /* float: none; */
    padding-top: 170px;
    height: 45px;
    max-width: 100%;
    padding-left: 224px;
    height: 235px;
}
.texto-grueso{
	    padding-top: 5px;
	font-weight: 900;
}

.civ-foto{
	float: left;
	padding-left: 34px;
	padding-top: 90px;
}
.placa-text{
	background: #64cde4;
	width: 60px;
}
.bg-Peru{
	background: #fbf304;
	
	height: 14px;
}

.tarjeta{
	width: 330px;
    max-width: 100%;
	background-repeat:no-repeat;
	position: relative;
	z-index: 3;

}

.footer-card{
 	font-size: 9px;
 }

@media screen and (max-width: 600px) {
 .footer-card{
 	font-size: 8px;
 }

 .civ{
	height: 20px;
	width: 80px;
}
.img-perfil{
	    height: 79px;
    width: 63px;
}
.centrardiv{
	display: table;
	height: 90px;
}
.tarjeta{
	background-image: url("../cliente/img/fondo_tar-cel.png") ;
	background-repeat:no-repeat;
	position: relative;
	z-index: 3;
	margin-left: auto;
    margin-right: auto;
    width: 330px;
    max-width: 100%;

}
}